@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@200;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Truculenta', sans-serif;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  background: firebrick;
  color: white;
  text-align: center;
  z-index: 10;
}
header h1 {
  font-size: 1.8rem;
}

.map {
  position: absolute;
  top: 2.5rem;
  height: calc(100vh - 2.5rem);
  width: 100vw;
  outline: none !important;
  box-shadow: 0 !important;
  border: none !important;
}

.location-icon {
  color: red;
  font-size: 2rem;
}

.location-info {
  position: fixed;
  top: 5rem;
  right: 3rem;
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem;
  width: 20rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.location-info h2 {
  margin-bottom: 0.5rem;
}
.location-info ul {
  list-style: none;
}
.location-info li {
  padding: 0.2rem 0;
}
